/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #000;
}

/* Background */
.login-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("/anh/login.jpg");
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Box */
.login-box {
  width: 600px;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d4af37;
}

/* FORM */
.login-form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 0.9rem;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Row */
.login-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.login-row a {
  color: #d4af37;
  text-decoration: none;
}

/* Button */
.btn-submit {
  width: 100%;
  padding: 12px;
  background: #d4af37;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.btn-submit:hover {
  opacity: 0.9;
}

/* Signup */
.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.signup a {
  color: #d4af37;
}
