/* Background */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* root wrapper for booking page: show background image here */
.booking-bg {
  position: relative;
  min-height: 100vh;
  background-image: url("/anh/datban.jpg");
  background-size: cover;
  background-position: center;
}

header {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Overlay */
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45); /* Làm tối nền để nổi bật chữ */
  z-index: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* Cấu trúc bao quanh toàn bộ Logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

/* Dòng chữ chính (The King Restaurant) */
.main-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
}

.main-logo span {
  color: #d4af37;
}

/* Dòng chữ nhỏ bên dưới (Tagline) */
.tagline {
  font-family: "Poppins", sans-serif;
  font-size: 0.65rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaa;
  margin-top: 2px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-links a {
  color: rgb(180, 173, 46);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.vang {
  color: #d4af37;
}
.nav-links a:hover {
  color: #d4af37;
}
.btn-book {
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 8px 20px;
  text-decoration: none;
  transition: 0.3s;
}

/* Main */
.main-content {
  padding-top: 70px;
  background: transparent;
  position: relative;
  z-index: 1;
}

/* Section */
.booking-section {
  color: white;
  text-align: center;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  color: brown;
}

/* Title */
.section-title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Form box */
.booking-container {
  background: rgba(0, 0, 0, 0.35);
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}

/* Row */
.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

/* Input */
.form-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* Textarea */
textarea.form-input {
  width: 100%;
  margin-bottom: 15px;
}

/* Button */
.btn-submit {
  background: #c59d5f;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-submit:hover {
  background: #a67c3d;
}
